@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/footer.css';

:root {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  color: var(--color-text-light);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.page-header-text-underline {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--page-header-text-underline);
  margin-top: 0.25rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Content 2 */
/* .content2 {
  background-color: var(--color-background-light);
  padding: 10px;
  width: 200px;
} */


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}




.container {
  border-radius: 5px;
  padding: 20px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


.row2 {
  margin: 8px -16px;
  border: none; /*doesnt remvoe border from image */
}

/* Add padding BETWEEN each column (if you want) */
.row2,
.row2 > .column2 {
  padding: 60px;
}

/* Create four equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column2 {
    width: 50%;
  }
}

.row3 {
  margin: 8px -16px;
  border: none; /*doesnt remvoe border from image */
}

/* Add padding BETWEEN each column (if you want) */
.row3,
.row3 > .column3 {
  padding: 60px;
}

/* Create four equal columns that floats next to each other */
.column3 {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column3 {
    width: 50%;
  }
}